.timeplot-container {
    position: relative;
}

.timeplot-copyright {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    cursor: pointer;
}

.timeplot-message-container {
    position:   absolute;
    top:        30%;
    left:       35%;
    right:      35%;
    z-index:    1000;
    display:    none;
}
.timeplot-message {
    font-size:      120%;
    font-weight:    bold;
    text-align:     center;
}
.timeplot-message img {
    vertical-align: middle;
}

.timeplot-canvas {
}