html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
}

ul, li, p, h3 {
    margin: 0;
    padding: 0;
}

ul, li {
    font-size: 9pt;
}

div.timegrid-grid-window {
    overflow: scroll;
    border: 1px inset black;
}

div.timegrid-hline {
    position: absolute;
    height: 1px;
    overflow: hidden;
    background-color: #999;
}

div.timegrid-vline {
    position: absolute;
    width: 1px;
    background-color: #444;
}

div.timegrid-events {
    position: relative;
    z-index: 2;
}

div.timegrid-gridlines {
    position: relative;
    z-index: 1;
}

div.timegrid-xlabels {
    position: absolute;
}

div.timegrid-ylabels {
    position: absolute;
}

div.timegrid-xlabels-window {
    position: absolute;
    overflow: hidden;
}

div.timegrid-ylabels-window {
    position: absolute;
    overflow: hidden;
}

div.timegrid-label {
    position: absolute;
    padding: 2px;
    color: #aaa;
}

div.timegrid-event {
    position: absolute;
    border: 1px black solid;
    width: 100px;
    background-color: #aaf;
    padding: 0;
}
