/*==================================================
 * Browse Panel styles
 *==================================================
 */
div.exhibit-browsePanel {
}

div.exhibit-browsePanel-notConfigureMessage {
    border:     1px solid #604800;
    padding:    1em;
    background: #FFFFE0;
    text-align: center;
}

div.exhibit-browsePanel-logoContainer {
    text-align: center;
    margin:     1em;
    clear:      both;
}

/*==================================================
 * Exhibit common styles
 *==================================================
 */
a.exhibit-action, 
a.exhibit-action:link, 
a.exhibit-action:active, 
a.exhibit-action:visited {
	text-decoration:    none;
	border-bottom:      1px dotted;
	cursor:             pointer;
}
a.exhibit-action:hover {
	border-bottom:  1px solid;
	cursor:         pointer;
}

a.exhibit-action-disabled, 
a.exhibit-action-disabled:link, 
a.exhibit-action-disabled:active, 
a.exhibit-action-disabled:visited {
	text-decoration:    none;
	border-bottom:      1px dotted;
	cursor:             pointer;
    opacity:            0.5;
}
a.exhibit-action-disabled:hover {
	border-bottom:  1px solid;
	cursor:         pointer;
}

a.exhibit-item, 
a.exhibit-item:link, 
a.exhibit-item:active, 
a.exhibit-item:visited {
	text-decoration:    none;
	border-bottom:      1px dotted red;
	cursor:             pointer;
}
a.exhibit-item:hover {
	border-bottom:  1px solid;
	cursor:         pointer;
}

span.exhibit-value {
}

/*
 *  Menu Popup
 */
div.exhibit-menu-popup {
    position:       absolute;
    width:          15em;
    z-index:        1000;
    background:     #FFFFE0;
    border:         1px solid #aaa;
}

a.exhibit-menu-item {
    text-decoration:    none;
}

a.exhibit-menu-item > div {
    padding:            2px 2px 2px 20px;
    text-indent:        -18px;
}

a:hover.exhibit-menu-item > div {
    background:         #DFDFC8;
}

a.exhibit-menu-item div img {
    vertical-align:     middle;
    margin-right:       2px;
}

/*
 *  Copy Button and Dialog Box
 */
button.exhibit-copyButton {
    border: 1px dashed;
    cursor: pointer;
    margin: 2px;
}
button:hover.exhibit-copyButton {
    background: white;
    border:     1px dashed blue;
    color:      blue;
    cursor:     pointer;
}

div.exhibit-copyDialog {
    position:       absolute;
    z-index:        1000;
    background:     #B2E8FF;
    border:         1px solid #aaa;
    padding:        2em;
    left:           25%;
    right:          25%;
}

div.exhibit-copyDialog textarea {
    width:          100%;
    font-size:      90%;
    color:          #888;
}

div.exhibit-copyDialog button {
    float:          right;
}

/*
 *  Focus Dialog Box
 */
div.exhibit-focusDialog {
    position:       absolute;
    z-index:        1000;
    background:     #B2E8FF;
    border:         1px solid #aaa;
    padding:        2em;
    left:           25%;
    right:          25%;
}

div.exhibit-focusDialog-viewContainer {
}

div.exhibit-focusDialog-controls {
    margin:         1em;
    text-align:     center;
}

/*
 *  Busy indicator
 */
.exhibit-busyIndicator {
    position:   absolute;
    left:       35%;
    width:      30%;
    z-index:    1000;
}
.exhibit-busyIndicator-content {
    font-size:      120%;
    font-weight:    bold;
    text-align:     center;
}
.exhibit-busyIndicator-content img {
    vertical-align: middle;
}
/*==================================================
 * Facet box
 *==================================================
 */
div.exhibit-facet-frame {
    position:   relative;
    overflow:   hidden;
    opacity:    0;
}

div.exhibit-facet {
    margin:     1em;
    padding:    1px;
}

div.exhibit-facet-header {
    padding:        2px;
}
div.exhibit-facet-header-filterControl {
    float:          right;
    width:          2em;
    display:        none;
    background:     #FFFFE0;
    cursor:         pointer;
}
.exhibit-facet-hasSelection div.exhibit-facet-header-filterControl {
    display:        block;
}

span.exhibit-facet-header-title {
    font-weight:    bold;
}
span.exhibit-facet-header-detail {
    color:          #888;
    padding-left:   0.5em;
}
    
div.exhibit-facet-body-frame {
    border:         1px solid #ddd;
}

div.exhibit-facet-body {
    height:         10em;
    overflow:       auto;
}

div.exhibit-facet-resizer {
    text-align:     center;
    cursor:         n-resize;
    height:         10px;
}

div.exhibit-facet-footer {
    text-align: center;
    padding:    2px;
}

/*==================================================
 * Facet value
 *==================================================
 */

div.exhibit-facet-value {
    cursor:         pointer;
    position:       relative;
    margin-left:    3em;
    padding:        2px 0px;
}
div.exhibit-facet-value-selected {
	background:     #FFFFE0;
}

div.exhibit-facet-value-count {
    position:       absolute;
    left:           -3em;
    width:          3em;
    text-align:     right;
    color:          #aaa;
}

div.exhibit-facet-value-inner {
    position:       relative;
}

img.exhibit-facet-blackCheck {
    display:        none;
}
img.exhibit-facet-grayCheck {
    display:        inline;
}
img.exhibit-facet-noCheck {
    display:        none;
}

.exhibit-facet-hasSelection img.exhibit-facet-grayCheck {
    display:        none;
}
.exhibit-facet-hasSelection img.exhibit-facet-noCheck {
    display:        inline;
}

.exhibit-facet-value-selected img.exhibit-facet-grayCheck {
    display:        none;
}
.exhibit-facet-value-selected img.exhibit-facet-noCheck {
    display:        none;
}
.exhibit-facet-value-selected img.exhibit-facet-blackCheck {
    display:        inline;
}
div.exhibit-lens {
    border:         1px solid #aaa;
    margin-bottom:  1em;
}

div.exhibit-lens-title {
    font-weight:    bold;
    background:     #eee;
    padding:        2px;
}

.exhibit-lens-copyButton {
    float:  right;
}

div.exhibit-lens-body {
	padding: 0.3em;
}

table.exhibit-lens-properties {
}

tr.exhibit-lens-property {
}

td.exhibit-lens-property-name {
	color: #888;
}

td.exhibit-lens-property-values {
}

/*==================================================
 * List facet value
 *==================================================
 */
.exhibit-facet-value-hasChildren div.exhibit-facet-value-inner {
    font-style:     italic;
}

div.exhibit-facet-value-groupControl {
    position:       absolute;
    left:           -16px;
    width:          16px;
    text-align:     center;
    vertical-align: baseline;
    display:        none;
    white-space:    pre;
}

.exhibit-facet-value-hasChildren div.exhibit-facet-value-groupControl {
    display:        block;
}
img.exhibit-facet-value-expandControl {
    display:        none;
    vertical-align: middle;
}
img.exhibit-facet-value-collapseControl {
    display:        none;
    vertical-align: middle;
}
.exhibit-facet-value-collapsed img.exhibit-facet-value-expandControl {
    display:        inline;
}
.exhibit-facet-value-expanded img.exhibit-facet-value-collapseControl {
    display:        inline;
}

div.exhibit-facet-value-children {
}

/*==================================================
 * Grouping box
 *==================================================
 */
div.exhibit-facet-groupBox {
    position:       absolute;
    margin:         1em;
    padding:        2px;
    top:            0;
	border:         2px solid #aaa;
    background:     white;
    z-index:        100;
}
div.exhibit-facet-groupBox-left {
    left:           -16em;
    width:          15em;
}
div.exhibit-facet-groupBox-right {
    right:          -16em;
    width:          15em;
}
div.exhibit-facet-groupBox-footer {
    text-align:     center;
    background:     #FFFFE0;
    padding:        3px;
}

div.exhibit-facet-groupBox-group {
}
div.exhibit-facet-groupBox-groupHeader {
    background:     #FFFFE0;
    padding:        3px;
    border-bottom:  1px solid #aaa;
}
div.exhibit-facet-groupBox-groupOption {
    cursor:         pointer;
    padding:        3px;
}

div.exhibit-facet-groupBox-groupFooter {
    text-align:     right;
    padding:        3px;
}
div.exhibit-mapView-mapContainer {
    border: 1px solid #738699
}
div.exhibit-mapView-map {
}
div.exhibit-mapView-resizer {
    text-align:     center;
    cursor:         n-resize;
    height:         10px;
}
div.exhibit-mapView-mappableDetails {
    padding:        1em;
    text-align:     center;
}
div.exhibit-mapView-legend {
    margin-top:     1em;
}
div.exhibit-mapView-legendBlock {
}
div.exhibit-mapView-legendBlock-title {
    font-weight:    bold;
}
div.exhibit-mapView-legendBlock-entry {
    margin: 2px 0;
}
/*==================================================
 * Numeric range facet value
 *==================================================
 */
div.exhibit-pivotTableView-tableContainer {
}

div.exhibit-pivotTableView-resizer {
    text-align:     center;
    cursor:         n-resize;
    height:         10px;
}
div.exhibit-pivotTableView-mappableDetails {
    padding:        1em;
    text-align:     center;
}
div.exhibit-scatterPlotView-plotContainer {
    position: relative;
}
div.exhibit-scatterPlotView-xAxis {
    position:   absolute; 
    height:     2em;
    bottom:     0px;
    left:       5em;
    right:      0px;
}
div.exhibit-scatterPlotView-xAxisLabel {
    font-family:    sans-serif;
    font-size:      80%;
    padding:        2px;
    position:       absolute;
    width:          5em;
    color:          #888;
}
div.exhibit-scatterPlotView-xAxisName {
    position:       absolute;
    top:            1em;
    height:         1em;
    left:           0px;
    right:          0px;
    text-align:     right;
    font-weight:    bold;
}

div.exhibit-scatterPlotView-yAxis {
    position:   absolute; 
    left:       0px;
    width:      5em;
    top:        0px;
    bottom:     2em;
}
div.exhibit-scatterPlotView-yAxis-ie {
    position:       absolute; 
    height:         100%;
    padding-bottom: 2em;
    width:          5em;
}
div.exhibit-scatterPlotView-yAxisLabel {
    font-family:    sans-serif;
    font-size:      80%;
    padding:        2px;
    position:       absolute;
    width:          5em;
    color:          #888;
    text-align:     right;
}
div.exhibit-scatterPlotView-yAxisName {
    position:       absolute;
    top:            0;
    height:         1em;
    left:           0px;
    width:          5em;
    font-weight:    bold;
    text-align:     right;
}
div.exhibit-scatterPlotView-gridLine {
    position:   absolute; 
    background: white;
    overflow:   hidden;
}
div.exhibit-scatterPlotView-canvasFrame {
    position:       absolute;
    left:           5em;
    right:          0px;
    top:            1em;
    bottom:         2em;
}
div.exhibit-scatterPlotView-canvasFrame-ie {
    position:       absolute;
    height:         100%;
    padding-bottom: 2em;
    padding-left:   5em;
    padding-top:    1em;
}

div.exhibit-scatterPlotView-canvas {
    position:   relative; 
    background: #ddd;
}
div.exhibit-scatterPlotView-point {
    position:   absolute;
    cursor:     pointer;
    overflow:   hidden;
}

div.exhibit-scatterPlotView-resizer {
    text-align:     center;
    cursor:         n-resize;
    height:         10px;
}
div.exhibit-scatterPlotView-mappableDetails {
    padding:        1em;
    text-align:     center;
}
div.exhibit-scatterPlotView-legend {
    margin-top:     1em;
}
div.exhibit-scatterPlotView-legendBlock {
    line-height:    120%;
}
div.exhibit-scatterPlotView-legendBlock-title {
    font-weight:    bold;
}
div.exhibit-scatterPlotView-legendBlock-entry {
    margin: 2px 0;
}
span.exhibit-scatterPlotView-legendBlock-colorBlob {
    border:     1px solid #888;
    padding:    0px 5px;
    margin:     0px 5px;
}
table.exhibit-tabularView-body {
    width: 100%;
}

.exhibit-tabularView-body > tbody > tr > td:first-child {
    width:      3em;
    text-align: right;
    color:      #aaa
}

.exhibit-tabularView-columnHeader {
    cursor:         pointer;
    white-space:    pre;
}

.exhibit-tabularView-columnHeader-sorted {
    cursor:         pointer;
    white-space:    pre;
}div.exhibit-thumbnailView-group {
    clear: both;
}

div.exhibit-thumbnailView-body {
}

div.exhibit-thumbnailView-itemContainer {
    float:      left;
}

div.exhibit-thumbnailView-itemContainer-IE {
    float:      left;
    width:      0;
    overflow:   visible;
}table.exhibit-tileView-body {
    width: 100%;
}

.exhibit-tileView-body > tbody > tr > td:first-child {
    width:      3em;
    text-align: right;
    color:      #aaa
}

td.exhibit-tileView-itemIndex {
}div.exhibit-timelineView-timelineContainer {
    border: 1px solid #738699
}
div.exhibit-timelineView-timeline {
    font-family: Trebuchet MS, Helvetica, sans serif;
    font-size:   10pt;
}
div.exhibit-timelineView-resizer {
    text-align:     center;
    cursor:         n-resize;
    height:         10px;
}
div.exhibit-timelineView-plottableDetails {
    padding:        1em;
    text-align:     center;
}
div.exhibit-timelineView-controls {
    text-align:     right;
}
div.exhibit-timelineView-legend {
    margin-top:     1em;
}
div.exhibit-timelineView-legendBlock {
}
div.exhibit-timelineView-legendBlock-title {
    font-weight:    bold;
}
div.exhibit-timelineView-legendBlock-entry {
    margin: 5px 0;
}
span.exhibit-timelineView-legendBlock-swatch {
    border:     1px solid #888;
    padding:    0px 3px;
}
/*==================================================
 * View Panel styles
 *==================================================
 */
div.exhibit-viewPanel {
}

div.exhibit-viewPanel-viewSelection {
    text-align: center;
}

span.exhibit-viewPanel-viewSelection-view {
    text-transform: uppercase;
    cursor:         pointer;
}

span.exhibit-viewPanel-viewSelection-selectedView {
    text-transform: uppercase;
    font-weight:    bold;
    border-bottom:  3px solid red;
}

div.exhibit-viewPanel-viewContainer {
}

/*==================================================
 * Collection View styles
 *==================================================
 */
div.exhibit-collectionView {
}

div.exhibit-collectionView-header {
}
span.exhibit-collectionView-header-count {
    font-size:      200%;
}
span.exhibit-collectionView-header-types {
    padding-left:   0.5em;
}
span.exhibit-collectionView-header-details {
    padding-left:   0.5em;
    color:          #888;
}
div.exhibit-collectionView-header-sortControls {
    text-align:     center;
    margin:         1em 0;
}
.exhibit-collectionView-header-groupControls {
    cursor: pointer;
}
.exhibit-collectionView-header-duplicateControls {
    cursor: pointer;
}

div.exhibit-collectionView-body {
}

div.exhibit-collectionView-group {
}

span.exhibit-collectionView-group-count {
}

div.exhibit-collectionView-group-content {
    margin-left: 1em;
}

div.exhibit-collectionView-group h1 {
    font-size:      150%;
    margin:         1em 0;
}

div.exhibit-collectionView-group h2 {
    font-size:      120%;
    margin:         0.5em 0;
}

.exhibit-collectionView-group h3 {
}

div.exhibit-collectionView-footer {
    clear:      both;
    text-align: center;
    margin:     2em 0;
}