/*==================================================
 * List facet value
 *==================================================
 */
.exhibit-facet-value-hasChildren div.exhibit-facet-value-inner {
    font-style:     italic;
}

div.exhibit-facet-value-groupControl {
    position:       absolute;
    left:           -16px;
    width:          16px;
    text-align:     center;
    vertical-align: baseline;
    display:        none;
    white-space:    pre;
}

.exhibit-facet-value-hasChildren div.exhibit-facet-value-groupControl {
    display:        block;
}
img.exhibit-facet-value-expandControl {
    display:        none;
    vertical-align: middle;
}
img.exhibit-facet-value-collapseControl {
    display:        none;
    vertical-align: middle;
}
.exhibit-facet-value-collapsed img.exhibit-facet-value-expandControl {
    display:        inline;
}
.exhibit-facet-value-expanded img.exhibit-facet-value-collapseControl {
    display:        inline;
}

div.exhibit-facet-value-children {
}

/*==================================================
 * Grouping box
 *==================================================
 */
div.exhibit-facet-groupBox {
    position:       absolute;
    margin:         1em;
    padding:        2px;
    top:            0;
	border:         2px solid #aaa;
    background:     white;
    z-index:        100;
}
div.exhibit-facet-groupBox-left {
    left:           -16em;
    width:          15em;
}
div.exhibit-facet-groupBox-right {
    right:          -16em;
    width:          15em;
}
div.exhibit-facet-groupBox-footer {
    text-align:     center;
    background:     #FFFFE0;
    padding:        3px;
}

div.exhibit-facet-groupBox-group {
}
div.exhibit-facet-groupBox-groupHeader {
    background:     #FFFFE0;
    padding:        3px;
    border-bottom:  1px solid #aaa;
}
div.exhibit-facet-groupBox-groupOption {
    cursor:         pointer;
    padding:        3px;
}

div.exhibit-facet-groupBox-groupFooter {
    text-align:     right;
    padding:        3px;
}
