div.exhibit-mapView-mapContainer {
}
div.exhibit-mapView-map {
    border: 1px solid #738699;
}
div.exhibit-mapView-mappableDetails {
    padding:        1em;
    text-align:     center;
}
div.exhibit-mapView-legend {
    margin-top:     1em;
}
div.exhibit-mapView-legendBlock {
}
div.exhibit-mapView-legendBlock-title {
    font-weight:    bold;
}
div.exhibit-mapView-legendBlock-entry {
    margin: 2px 0;
}
