div.exhibit-timelineView-timelineContainer {
}
div.exhibit-timelineView-timeline {
    border:         1px solid #738699;
    font-family:    Trebuchet MS, Helvetica, sans serif;
    font-size:      10pt;
}
div.exhibit-timelineView-plottableDetails {
    padding:        1em;
    text-align:     center;
}
