/*==================================================
 * Styles for EditLogView
 *==================================================
 */

.EditLog {
    margin: 0 auto;
    margin-bottom: 1.5em;
    padding: 0.5em;
    border: 2px solid black;
    width: 75%;
}


.EditLog .ChangeList {
    border: 1px solid black;
    background-color: white;
    margin: 1em;
    padding: 0.5em;
}

.EditLog .ChangeList .headerText {
    font-weight: bold;
    display: block;
}

.EditLog .placeholderText {
    margin: 0 auto;
    background-color: yellow;
}

.EditLog .highlight {
    text-decoration: underline;
    background-color: yellow;
}

.EditLog .ChangeList .removeChange {
    float: right;
}

.EditLog .commentField {
    display: block;
    width: 50%;
    margin: 0.5em;
}

.EditLog .submitButton {
    margin: 0.5em;
}

.EditLog .revertEditLink {
    margin-left: 1em;
}

.CurateView {
    font-family: Helvetica, arial, verdana, sans-serif;
}

.CurateView .submission {
    background: #F5F5F5 none;
    border: 1px solid #CCCCCC;
    padding: 0.5em;
    max-width: 75%;
    margin-bottom: 1em;
}

.CurateView .submission .edit table {
    margin: 0.5em;
}

.CurateView .submission .edit .header {
    width: 85%;
    border-bottom: 1px solid black;
}

.CurateView .submission .edit .value input {
    margin-left: 1em;
}

.CurateView .submission .buttonDiv {
    margin: 0px auto;
    width: 50%;
}

.CurateView .submission .buttonDiv input:first-child {
    margin-right: 20%;
}
