/*==================================================
 * List facet value
 *==================================================
 */
div.rubik-facet-value {
    cursor:         pointer;
    position:       relative;
    margin-left:    3em;
    padding:        2px 0px;
}
div.rubik-facet-value-selected {
	background:     #FFFFE0;
}

div.rubik-facet-value-count {
    position:       absolute;
    left:           -3em;
    width:          3em;
    text-align:     right;
    color:          #aaa;
}

div.rubik-facet-value-inner {
    position:       relative;
}
.rubik-facet-value-hasChildren div.rubik-facet-value-inner {
    font-style:     italic;
}

div.rubik-facet-value-groupControl {
    position:       absolute;
    left:           -16px;
    width:          16px;
    text-align:     center;
    vertical-align: baseline;
    display:        none;
    white-space:    pre;
}

.rubik-facet-value-hasChildren div.rubik-facet-value-groupControl {
    display:        block;
}
img.rubik-facet-value-expandControl {
    display:        none;
    vertical-align: middle;
}
img.rubik-facet-value-collapseControl {
    display:        none;
    vertical-align: middle;
}
.rubik-facet-value-collapsed img.rubik-facet-value-expandControl {
    display:        inline;
}
.rubik-facet-value-expanded img.rubik-facet-value-collapseControl {
    display:        inline;
}

img.rubik-facet-blackCheck {
    display:        none;
}
img.rubik-facet-grayCheck {
    display:        inline;
}
img.rubik-facet-noCheck {
    display:        none;
}

.rubik-facet-hasSelection img.rubik-facet-grayCheck {
    display:        none;
}
.rubik-facet-hasSelection img.rubik-facet-noCheck {
    display:        inline;
}

.rubik-facet-value-selected img.rubik-facet-grayCheck {
    display:        none;
}
.rubik-facet-value-selected img.rubik-facet-noCheck {
    display:        none;
}
.rubik-facet-value-selected img.rubik-facet-blackCheck {
    display:        inline;
}

div.rubik-facet-value-children {
}

/*==================================================
 * Grouping box
 *==================================================
 */
div.rubik-facet-groupBox {
    position:       absolute;
    margin:         1em;
    padding:        2px;
    top:            0;
	border:         2px solid #aaa;
    background:     white;
}
div.rubik-facet-groupBox-left {
    left:           -16em;
    width:          15em;
}
div.rubik-facet-groupBox-right {
    right:          -16em;
    width:          15em;
}
div.rubik-facet-groupBox-footer {
    text-align:     center;
    background:     #FFFFE0;
    padding:        3px;
}

div.rubik-facet-groupBox-group {
}
div.rubik-facet-groupBox-groupHeader {
    background:     #FFFFE0;
    padding:        3px;
    border-bottom:  1px solid #aaa;
}
div.rubik-facet-groupBox-groupOption {
    cursor:         pointer;
    padding:        3px;
}

div.rubik-facet-groupBox-groupFooter {
    text-align:     right;
    padding:        3px;
}
