#slideshow {
    background-image: url(../images/body_back.gif);
    background-position: top left;
    background-repeat: repeat-x;
    height: 14em;
}

#slideshow .item {
    display: none;
    border: 1px solid #eee;
    padding: 2em;
}

#slideshow .item .icon {
    float: right;
}

#slideshow .item .title {
    font-size: 300%;
    font-weight: bold;
    font-family: "verdana", "helvetica", "arial", sans-serif;
}

#slideshow .item .title a {
    text-decoration: none;
}

#slideshow .item .title a:hover {
    text-decoration: underline;
}

#slideshow .item .description {
    font-size: 130%;
    height: 8em;
}

#slideshow .item .logo img {
    border: 1px solid #ccc;
}
