body {
    background-image: none;
}

table {
    font-size: 100%;
}

input {
    width: 6em;
}

#top-panel {
}

#theme-panel { 
    padding: 1em; 
}

#settings-panel {
    border: 1px solid #eee;
    height: 20em;
    padding: 1em;
    overflow: auto;
}

#the-widget {
}

#bottom-panel {
    padding-bottom: 100px;
}

#body {
    margin: 0px; 
    padding: 0px;
}

#left-column {
    
}

#right-column {
    display: none;
    padding-left: 2em;
}

#selected-slide {
    font-weight: bold;
    font-size: 120%;
}

#description {
    text-align: left;
    width: 20em;
    font-size: 180%;
    color: #666;
}

#preview {
    display: none;
    text-align: center;
    color: red;
}
#preview img {
    border: 1px solid #ccc;
    margin-top: 10px;
}
#the-widget #preview {
    display: block;
}