/*==================================================
 * Browse Panel styles
 *==================================================
 */
div.rubik-browsePanel {
}

/*==================================================
 * Facet box
 *==================================================
 */
div.rubik-facet-frame {
    overflow:   hidden;
    opacity:    0;
}

div.rubik-facet {
	margin:     1em;
	padding:    1px;
}

div.rubik-facet-header {
	padding:        2px;
}
span.rubik-facet-header-title {
	font-weight:    bold;
}
span.rubik-facet-header-detail {
	color:          #888;
    padding-left:   0.5em;
}
    
div.rubik-facet-body {
	height:         10em;
	overflow:       auto;
    border:         1px solid #ddd;
}

div.rubik-facet-resizer {
	text-align:     center;
    cursor:         n-resize;
    background:     url(../images/down-arrow.png) top center no-repeat;
    height:         10px;
}

div.rubik-facet-footer {
	text-align: center;
    padding:    2px;
}
