/*
    From Kuler, http://kuler.adobe.com/
    
    #e6e2af
    #a7a37e
    #efecca
    #046380
    #002f2f
 */

span.timegrid-tab {
    line-height: 1.5em;
    padding: 1em;
    background-color: #efecca;
}

span.timegrid-tab-active {
    background-color: #a7a37e;
    font-weight: bold;
}

span.timegrid-tab a {
    text-decoration: none;
}
 
div.timegrid-view {
    background: #a7a37e;
    border: 1px solid #a7a37e;
}

div.timegrid-grid-window {
    border: none;
    background: white;
}

div.timegrid-xlabels-window {
    border-left: 1px solid #a7a37e;
    border-right: 1px solid #a7a37e;
    border-bottom: 1px solid #a7a37e;
}
div.timegrid-ylabels-window {
    border-top: 1px solid #a7a37e;
    border-bottom: 1px solid #a7a37e;
    border-right: 1px solid #a7a37e;
}

div.timegrid-hline, div.timegrid-vline {
    background: #e6e2af;
}

div.timegrid-xlabels-window, div.timegrid-ylabels-window {
    background: #efecca;
}

div.timegrid-label {
    color: #046380;
}

.timegrid-xlabels div.timegrid-label {
    border-left: 1px solid #e6e2af;
}

.timegrid-ylabels div.timegrid-label {
    border-top: 1px solid #e6e2af;
}

div.timegrid-event {
    border: 1px #a7a37e solid;
    background-color: #e6e2af;
    color: #046380;
    padding: 2px;
}

/* Monthly View */
div.timegrid-month-cell {
    color: #046380;
    padding: 0px;
}

ul.timegrid-event-list {
    list-style-position: inside;
    padding: .5em;
}
div.timegrid-default {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    overflow: hidden; /* Gets it to flow around floated divs, weird... */
}

div.timegrid-default * {
    margin: 0;
    padding: 0;
}

div.timegrid-default ul, li {
    font-size: 9pt;
}

div.timegrid-iterator {
    float: left;
    font-weight: bold;
    height: 1.5em;
}

.timegrid-iterator-prev, .timegrid-iterator-next {
    margin: .5em;
}

.timegrid-iterator img {
    border: none;
}

div.timegrid-tabs {
    float: right;
    height: 1.5em;
}

span.timegrid-tab {
    line-height: 1.5em;
    padding: 1em;
    margin: .5em;
    background-color: #bbb;
}

span.timegrid-tab-active {
    font-weight: bold;
}

div.timegrid-view {
    position: absolute;
    top: 1.5em;
    bottom: 0px;
    width: 100%;
    left: 0px;
    border: 1px white solid;
}

div.timegrid-grid-window {
    position: absolute;
    overflow: scroll;
    border: 1px inset black;
}

div.timegrid-hline {
    position: absolute;
    height: 1px;
    overflow: hidden;
    background-color: #999;
}

div.timegrid-vline {
    position: absolute;
    width: 1px;
    background-color: #444;
}

div.timegrid-events {
    position: relative;
    z-index: 2;
}

div.timegrid-gridlines {
    position: relative;
    z-index: 1;
}

div.timegrid-xlabels {
    position:   absolute;
    left: 0px;
}

.timegrid-xlabels div.timegrid-label {
    top:            0px;
    bottom:         0px;
    text-align:     center;
    padding:        3px;
}

div.timegrid-ylabels {
    position: absolute;
}

.timegrid-ylabels div.timegrid-label {
    left:       0px;
    right:      0px;
    text-align: right;
    padding:    3px;
}

div.timegrid-xlabels-window {
    position: absolute;
    overflow: hidden;
    text-align: center;
}

div.timegrid-ylabels-window {
    position: absolute;
    overflow: hidden;
}

div.timegrid-label {
    position: absolute;
    padding: 2px;
    color: #aaa;
}

/* Weekly View */
div.timegrid-event {
    position: absolute;
    border: 1px black solid;
    width: 100px;
    background-color: #aaf;
    padding: 0;
    overflow: hidden;
    z-index: 5;
}

/* Monthly View */
div.timegrid-month-cell {
    position: absolute;
    padding: 0;
    overflow: hidden;
}

div.timegrid-month-cell-odd {
    background-color: #eee;
}

ul.timegrid-event-list {
    list-style-position: inside;
    padding-left: .5em;
}

div.timegrid-month-label {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

div.timegrid-month-label span {
    display: block;
    font-size: 12em;
    font-weight: bold;
    color: #ccc;
}

span.timegrid-month-date-label {
    position: absolute;
    right: 5px;
    top: 5px;
}

/* Message */
.timegrid-message-container {
    position:   absolute;
    top:        30%;
    left:       35%;
    right:      35%;
    z-index:    1000;
    display:    none;
}
.timegrid-message {
    font-size:      120%;
    font-weight:    bold;
    text-align:     center;
}
