<?xml version="1.0" encoding="UTF-8"?>
<data>
	<event start="Nov 22 2004 14:24:10 GMT-0400" title="New SIMILE News Feed" link="http://simile.mit.edu/blog/?p=3" color="#006600">
	
	</event>
	<event start="Jan 27 2005 14:26:31 GMT-0400" title="Piggy Bank 1.0b Released" link="http://simile.mit.edu/blog/?p=4" color="#000066">
	
	</event>
	<event start="Feb 08 2005 14:28:16 GMT-0400" title="Longwell 1.1 Released" link="http://simile.mit.edu/blog/?p=5" color="#000066">
	
	</event>
	<event start="May 23 2005 14:41:16 GMT-0400" title="Piggy Bank 2.0b Released" link="http://simile.mit.edu/blog/?p=6" color="#000066">
	
	</event>
	<event start="Jul 12 2005 14:43:22 GMT-0400" title="Welkin 1.1 Released" link="http://simile.mit.edu/blog/?p=7" color="#000066">
	
	</event>
	<event start="Oct 03 2005 14:45:22 GMT-0400" title="Piggy Bank 2.1.0 Released" link="http://simile.mit.edu/blog/?p=8" color="#000066">
	
	</event>
	<event start="Oct 19 2005 14:47:17 GMT-0400" title="Semantic Bank 2.1.0 Released" link="http://simile.mit.edu/blog/?p=9" color="#000066">
	
	</event>
	<event start="Oct 26 2005 14:49:40 GMT-0400" title="Solvent 1.0.0 Released" link="http://simile.mit.edu/blog/?p=10" color="#000066">
	
	</event>
	<event start="Nov 05 2005 14:51:50 GMT-0400" title="Piggy Bank 2.1.1 Released" link="http://simile.mit.edu/blog/?p=11" color="#000066">
	
	</event>
	<event start="Mar 20 2006 14:53:00 GMT-0400" title="Gadget 2.0 Released" link="http://simile.mit.edu/blog/?p=12" color="#000066">
	
	</event>
	<event start="May 05 2006 14:55:42 GMT-0400" title="Gadget 2.0.1 Released" link="http://simile.mit.edu/blog/?p=14" color="#000066">
	
	</event>
	<event start="Jun 22 2006 14:58:03 GMT-0400" title="Longwell 2.4 Released" link="http://simile.mit.edu/blog/?p=15" color="#000066">
	
	</event>
	<event start="Jun 29 2006 14:59:51 GMT-0400" title="Timeline 1.0 Released" link="http://simile.mit.edu/blog/?p=16" color="#000066">
	
	</event>
	<event start="Sep 07 2006 15:00:51 GMT-0400" title="Referee 1.0 Released" link="http://simile.mit.edu/blog/?p=17" color="#000066">
	
	</event>
	<event start="Oct 18 2006 15:03:12 GMT-0400" title="Piggy Bank 3.0 Released" link="http://simile.mit.edu/blog/?p=18" color="#000066">
	
	</event>
	<event start="Oct 18 2006 15:04:36 GMT-0400" title="Solvent 2.0 Released" link="http://simile.mit.edu/blog/?p=19" color="#000066">
	
	</event>
	<event start="Oct 19 2006 15:05:34 GMT-0400" title="Piggy Bank 3.0.1 Released" link="http://simile.mit.edu/blog/?p=20" color="#000066">
	
	</event>
	<event start="Dec 07 2006 15:06:43 GMT-0400" title="Exhibit 1.0 Released" link="http://simile.mit.edu/blog/?p=21" color="#000066">
	
	</event>
	<event start="May 11 2007 12:15:59 GMT-0400" title="Appalachian 1.1 Released" link="http://simile.mit.edu/blog/?p=33" color="#000066">
	
	</event>
	<event start="Jul 15 2004 18:30:12 GMT-0400" title="Gadget 1.0 Released" link="http://simile.mit.edu/blog/?p=35" color="#000066">
	
	</event>
	<event start="Oct 22 2004 18:33:13 GMT-0400" title="Longwell 1.0 Released" link="http://simile.mit.edu/blog/?p=36" color="#000066">
	
	</event>
	<event start="Nov 09 2004 18:34:05 GMT-0400" title="Welkin 1.0b1 Released" link="http://simile.mit.edu/blog/?p=37" color="#000066">
	
	</event>
	<event start="Sep 07 2004 18:37:38 GMT-0400" title="simile.mit.edu announced" link="http://simile.mit.edu/blog/?p=42" color="#990000">
	
	</event>
	<event start="Nov 09 2004 18:38:33 GMT-0400" title="Slashdot covers Welkin" link="http://simile.mit.edu/blog/?p=43" color="#990000">
	
	</event>
	<event start="Jan 26 2005 18:40:08 GMT-0400" title="XML.com article on SIMILE" link="http://simile.mit.edu/blog/?p=45" color="#990000">
	
	</event>
	<event start="Apr 10 2004 18:50:51 GMT-0400" title="simile.mit.edu is born" link="http://simile.mit.edu/blog/?p=46" color="#006600">
	
	</event>
</data>