/*==================================================
 * List facet box
 *==================================================
 */
div.rubik-facet-value {
    cursor:         pointer;
    position:       relative;
    margin-left:    2em;
    padding:        2px 0px;
}
div.rubik-facet-value-selected {
	background:     #FFFFE0;
}

div.rubik-facet-value-count {
    position:       absolute;
    left:           -2em;
    width:          2em;
    text-align:     right;
    color:          #aaa;
}

img.rubik-facet-blackCheck {
    display:        none;
}
img.rubik-facet-grayCheck {
    display:        inline;
}
img.rubik-facet-noCheck {
    display:        none;
}

.rubik-facet-hasSelection img.rubik-facet-grayCheck {
    display:        none;
}
.rubik-facet-hasSelection img.rubik-facet-noCheck {
    display:        inline;
}

.rubik-facet-value-selected img.rubik-facet-grayCheck {
    display:        none;
}
.rubik-facet-value-selected img.rubik-facet-noCheck {
    display:        none;
}
.rubik-facet-value-selected img.rubik-facet-blackCheck {
    display:        inline;
}

div.rubik-facet-value-control {
	padding:    0 2px;
	cursor:     pointer;
}
div.rubik-facet-value-children {
	padding-left: 16px;
}

/*==================================================
 * Grouping box
 *==================================================
 */
div.rubik-groupingBox {
	margin-bottom:  1em;
	padding:        0.5em;
	border:         1px solid #ccc;
}
div.rubik-groupingBox-header {
	font-weight: bold;
}

div.rubik-groupingBox-option {
}
