div.exhibit-itemView {
    border:         1px solid #aaa;
    margin-bottom:  1em;
}

div.exhibit-itemView-title {
    font-weight:    bold;
    background:     #eee;
    padding:        2px;
}

.exhibit-itemView-copyButton {
    float:  right;
}

div.exhibit-itemView-body {
	padding: 0.3em;
}

table.exhibit-itemView-properties {
}

tr.exhibit-itemView-property {
}

td.exhibit-itemView-property-name {
	color: #888;
}

td.exhibit-itemView-property-values {
}
