table.exhibit-tabularView-body {
    width: 100%;
}

.exhibit-tabularView-body > tbody > tr > td:first-child {
    width:      3em;
    text-align: right;
    color:      #aaa
}

.exhibit-tabularView-columnHeader {
    cursor: pointer;
}

.exhibit-tabularView-columnHeader-sorted {
    cursor: pointer;
}