div.exhibit-timelineView-timelineContainer {
    border: 1px solid #738699
}
div.exhibit-timelineView-timeline {
    font-family: Trebuchet MS, Helvetica, sans serif;
    font-size:   10pt;
}
div.exhibit-timelineView-resizer {
    text-align:     center;
    cursor:         n-resize;
    background:     url(../images/down-arrow.png) top center no-repeat;
    height:         10px;
}
div.exhibit-timelineView-plottableDetails {
    padding:        1em;
    text-align:     center;
}
div.exhibit-timelineView-controls {
    text-align:     right;
}
div.exhibit-timelineView-legend {
    margin-top:     1em;
}
div.exhibit-timelineView-legendBlock {
}
div.exhibit-timelineView-legendBlock-title {
    font-weight:    bold;
}
div.exhibit-timelineView-legendBlock-entry {
    margin: 5px 0;
}
span.exhibit-timelineView-legendBlock-swatch {
    border:     1px solid #888;
    padding:    0px 3px;
}
