/*==================================================
 * Facet box
 *==================================================
 */
div.exhibit-facet {
    position:   relative;
}

div.exhibit-facet-header {
    padding:        2px;
}
div.exhibit-facet-header-filterControl {
    float:          right;
    width:          2em;
    display:        none;
    background:     #FFFFE0;
    cursor:         pointer;
}

span.exhibit-facet-header-title {
    font-weight:    bold;
}
span.exhibit-facet-header-detail {
    color:          #888;
    padding-left:   0.5em;
}
    
div.exhibit-facet-body-frame {
}

div.exhibit-facet-body {
    border:         1px solid #ddd;
    height:         10em;
    overflow:       auto;
}

/*==================================================
 * Facet value
 *==================================================
 */

div.exhibit-facet-value {
    cursor:         pointer;
    position:       relative;
    margin-left:    3em;
    padding:        2px 0px;
}
div.exhibit-facet-value-selected {
	background:     #FFFFE0;
}

div.exhibit-facet-value-count {
    position:       absolute;
    left:           -3em;
    width:          3em;
    text-align:     right;
    color:          #aaa;
}

div.exhibit-facet-value-inner {
    position:       relative;
}
